@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Quicksand&display=swap');

h1, h2 {font-family: 'Playfair Display', serif; color:#c89f9c;}
body {font-family: 'Quicksand', sans-serif; background-color:#edede9;}
.flex-container {display: flex; flex-wrap: wrap; justify-content: center;}
.card1, .card2, .card3, .card4, .card5, .card6 {
	width: auto;
	padding: 10px 30px;
	background: #e4e2e2;
    border-radius: 10px;
    margin: 20px;}