@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Quicksand&display=swap');

h1, h2 {font-family: 'Playfair Display', serif; color:#c89f9c;}
body, .dropbtn {font-family: 'Quicksand', sans-serif; background-color:#edede9;}
.flex-container {display: flex; flex-wrap: wrap; justify-content: center; }
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10n11, .card12, .card14{
	width: 500px;
	padding: 10px 150px 20px 80px;
	background: #e4e2e2;
    border-radius: 10px;
    margin: 30px;
	margin-left: 210px;
	}

.nav {
	height: 100%;
  	width: 180px;
	position: fixed;
	top: 0;
	right: 50px;
	background-color: #c89f9c;
	padding: 15px;
	padding-top: 25px;
}

.dropbtn, .a {
	background-color: whitesmoke;
	color: #c89f9c;
	border-color: #c89f9c;
	padding: 16px;
	font-size: 16px;
	background: #e4e2e2;
    border-radius: 10px;
	margin: 20px 0 0 20px;
	}
	  
.dropdown {
	position: relative;
	display: inline-block;}
	  
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #d8adaabc;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;}
	  
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;}
	  
.dropdown-content a:hover {background-color: rgb(130, 71, 71);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #a57f7f;}

input[id="numb"], input[type="submit"], input[type="text"], button, script {
	width: 300px;
	background-color: rgb(130, 71, 71);;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font-family: 'Quicksand', sans-serif;
  }

  ::placeholder {
	color: white;
	opacity: 50%;
  }